<div class="container">
    <div class="row mt-5">
        <div class="col alert alert-Secondary text-center">
            <h1 style="color: rgb(67, 27, 3);">COFFEE CROPS</h1>
        </div>
    </div>
    <div class="row mt-5">
          <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col text-center">
                    <a [routerLink]="['list/',SouthAmerica]">
                        <div class="card" style="background-color: rgb(246, 245, 244);">
                            <div class="card-body ">
                              <ul class="list-unstyled">
                                   <li><img src="https://i.pinimg.com/564x/9c/74/62/9c746228ed16f04b83bc5978830043df.jpg" height="350" width="350"></li>
                                   <li><h1>Discover Products </h1></li>
                              </ul>
                            </div>
                     </div>
                    </a>
                </div>
            </div>    
          </div>
    </div>
    
</div>
<footer class="text-center bg-body-tertiary mt-5">
    <!-- Grid container -->
    <div class="container pt-4 mt-4">
      <!-- Section: Social media -->
      <section class="mb-4 ">
          
       
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-twitter-x"></i>
        </a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="bg-danger"
          ><i class="bi bi-instagram"></i>
        </a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="bg-primary"
          ><i class="bi bi-linkedin"></i>
        </a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-github"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body "  href="https://Tuwaiq.com/"> <strong style="color: rgb(110, 46, 7);">Tuwaiq.com</strong></a>
    </div>
    <!-- Copyright -->
  </footer>